<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aSA -->
      <package
            uri="http://www.example.org/aSA"
            class="aSA.ASAPackage"
            genModel="model/aSA.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated asaM1 -->
      <package
            uri="http://www.example.org/asam1"
            class="asaM1.AsaM1Package"
            genModel="model/asaM1.genmodel"/>
   </extension>

</plugin>
